.App {
  text-align: center;
  height: 100vh;
}

#root {
  height: 100vh;
  background-color: #ad70fd49;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.directory {
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%; /* Set the height to fill the entire screen */
  width: 190px;
  background-color: #33333333; /* Background color of the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  top: 0;
  width: 100%;
  height: 50px;
  padding: 2px;
  background-color: #33333333;
}

.container {
  /* background-image: url(../public/girlPointingLeft.jpg); */
  /* image from "https://www.istockphoto.com/vector/a-cute-young-girl-points-to-the-left-gm1326555400-411224399?phrase=anime+characters&searchscope=image%2Cfilm"  */
  background-size: 400px 400px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 190px;
  width: 150vh;
  height: fit-content;
}
#backgroundColor {
  background-color: #a084eb34;
}