.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.directory {
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%; /* Set the height to fill the entire screen */
  width: 190px; /* Adjust the width as needed */
  background-color: #33333333; /* Background color of the sidebar */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px; /* Adjust the padding as needed */
}

.header {
  top: 0;
  width: 100%;
  height: 50px;
  padding: 2px;
  background-color: #33333333;
}

.container {
  background-image: url(https://media.istockphoto.com/id/1326555400/vector/a-cute-young-girl-points-to-the-left.jpg?s=2048x2048&w=is&k=20&c=uONGfXyb58P62it66BTHKmztn5ijuQR5ys_7_w0kj_g=);
}